:root {
    --mainColor: #c7b3ff;
    --secondaryColor: #4218b5;
    --borderColor: #956a6d;
    --mainText:#0A0A0A;
    --secondaryText: #666666;
    --themeDotBorder: green;
    --buttonColor: black;
}