:root {
    --mainColor: #571ee1;
    --secondaryColor: #853dc2;
    --borderColor: #956a6d;
    --mainText:#0A0A0A;
    --secondaryText: #666666;
}

html, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
}

p, li, span, label, input, textarea {

}