:root {
    --mainColor: #a0c981;
    --secondaryColor: #3f850b;
    --borderColor: #956a6d;
    --mainText:#0A0A0A;
    --secondaryText: #666666;
    --themeDotBorder: green;
    --buttonColor: black;
}