:root {
    --mainColor: #e3aaaa;
    --secondaryColor: #992b2b;
    --borderColor: #956a6d;
    --mainText:#0A0A0A;
    --secondaryText: #666666;
    --themeDotBorder: green;
    --buttonColor: black;
}